<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewArmStanki.Properties.Settings.ConnectionString"
            connectionString="DBA PRIVILEGE=SYSDBA;TNS_ADMIN=C:\Users\sana-\Oracle\network\admin;USER ID=SYS;PASSWORD=123;DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>